@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=latin-ext');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-image: url(../images/bg-Lotto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

main {
    padding: 20px;
    background-color: rgba(0, 0,0, .5);
    border-radius: 10px;
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    color: #FFDE00;
    margin: 0 0 40px 0;
}

.btn {
    background-color: #2980b9;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.btn:hover {
    background-color: #3498db;
    cursor: pointer;
}

.output {
    margin-top: 50px;
    display: inline-block;
    width: 220px;
    height: 60px;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #FFDE00;
    line-height: 60px;
    font-size: 20px;
    color: #34495e;
    font-weight: 700;
}
